/* EditVacationPage.css */

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    width: 90%;
    height: 75vh;
    max-width: 400px;
    margin: auto;
    margin-top: 50px; /* הוסף מרווח עליון */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
    overflow-y: auto;
    scrollbar-width: none; /* עבור דפדפני Firefox */
    -ms-overflow-style: none; /* עבור דפדפני Internet Explorer ו-Edge */

}
.form-container::-webkit-scrollbar {
    display: none; /* עבור דפדפני Webkit כמו Chrome ו-Safari */
}


.form-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 500;
    text-align: center;
}

.form-field {
    margin-bottom: 1rem;
    height: 60px;
}

.image-preview {
    width: 100%;
    margin-top: 1rem;
    border-radius: 4px;
    object-fit: cover;
}

.form-button {
    margin-top: 1rem;
    padding: 0.75rem;
    width: 100%;
    border-radius: 4px;
    font-size: 1rem;
}

.cancel-button {
    margin-top: 0.5rem;
    padding: 0.75rem;
    width: 100%;
    border-radius: 4px;
    font-size: 1rem;
    background-color: #f6bb62;
}
.errorMessage {
    position: fixed;
    bottom: 120px;
    left: 13%;
    transform: translateX(-50%);
    background-color: rgb(255, 255, 255);
    color: #f6bb62;
    padding: 15px 30px; /* הגדלתי את המרווחים */
    border-radius: 10px;
    font-size: 18px; /* הגדלתי את הגודל */
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: auto;
    max-width: 400px; /* הרחבתי את הרוחב המקסימלי */
    transition: opacity 0.3s ease, bottom 0.3s ease;
}